# Dependencies
node_modules/

# Production Build
dist/

# Logs
logs/
*.log

# Environment variables
.env
.env.local

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store